/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
 div#code_checker_check__code {
    width: 360px;
    display: inline-block;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.win__alerts {
    width: 100%;
    text-align: center;
}
button.win__send {
    border-color: #eaeaea;
    background: #2196f312;
    color: #484848;
    font-size: 16px;
    padding: 5px 20px;
    color: #656565;
    margin-left: 10px;
    height: 42px;
}
button.win__send:active{
    border-color: #2196f3;
}
input#win__mycode {
    height: 42px;
    border: 2px solid #eaeaea;
	width: 80%;
}
.progress p {
    margin-bottom: 18px;
}
input#win__mycode:focus-visible {
    outline-color: #2196f3;
}
div#code_checker_check__code .input {
    display: flex;
    width: 100%;
}
.win__alerts h5 {
    color: #525252;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    margin-bottom: 19px;
}
p.warning {
    color: #ff8100;
    letter-spacing: 1.2px;
}
p.success {
    color: #2196f3;
    letter-spacing: 1.2px;
}
p.loading {
    transform: scale(2.5);
}
button.win__send:disabled {
    background: #dddddd4f;
    border: none;
    color: #ddd;
}
.counter-box {
    padding: 10px;
    background: #2196f3;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    font-family: initial;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 12px #2196f3;
}