/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .winners_wrap {
    display: flex;
}
div#winners_opt_tbl {
    width: 50%;
}

div#winners_opt_tbl table{
    padding: 20px;
}